<div ng-controller="dashboard_ctrl">
  <div class="row">
    <div class="medium-8 columns">
      <h3>Contenedor <strong><%=params[:reference]%></strong></h3>
    </div>
    <div class="medium-4 columns">
      <div class="input-group">
        <label class="input-group-label">Desde</label>
        <input type="datetime" ng-model="begin_date" placeholder="Desde" class="input-group-field" style="width:200px"/>
        <div class="input-group-button">
          <input type="button" value="Actualizar" class="button" ng-click="search()">
        </div>
      </div>
    </div>
    <div class="medium-4 columns"></div>
  </div>

  <div class="row">

    <div class="medium-12 columns">
      <highchart id="chart1" config="tempGraphic" class="span9" ></highchart>
    </div>
  </div>
  

  <div class="row">
    <div class="medium-12 columns">
      <highchart id="chart2" config="accelGraphic" class="span9" ></highchart>
    </div>
   
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <highchart id="chart2" config="gyroGraphic" class="span9" ></highchart>
    </div>
  </div>
</div>
