<h3>Dashboard <%=params[:reference]%></h3>

<div ng-controller="dashboard_ctrl">

  <div class="row">
    <div class="medium-8 columns">
      <highchart id="chart1" config="tempGraphic" class="span9" ></highchart>
    </div>
    <div class="medium-4 columns">
      [tabla de alertas con las temperaturas críticas y datetime]
    </div>
  </div>
  

  <div class="row">
    <div class="medium-8 columns">
      <highchart id="chart2" config="accelGraphic" class="span9" ></highchart>
    </div>
    <div class="medium-4 columns">
      [tabla de alertas con golpes y datetime]
    </div>
  </div>
</div>
