<h3>Dispositivo:  <%=params[:reference]%></h3>

<div ng-controller="dashboard_ctrl">

  <div class="row">
    <div class="medium-12 columns">
      <highchart id="chart1" config="tempGraphic" class="span9" ></highchart>
    </div>
  </div>
  

  <div class="row">
    <div class="medium-12 columns">
      <highchart id="chart2" config="accelGraphic" class="span9" ></highchart>
    </div>
   
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <highchart id="chart2" config="gyroGraphic" class="span9" ></highchart>
    </div>
  </div>

</div>
