
<div class="row content-selector-reference">
  <%= form_tag(dashboard_index_path, method: "get") do %>
    <div class="medium-10 columns">
      <%= text_field_tag(:reference, '', class: "large") %>
    </div>
    <div class="medium-2 columns">
    <%= submit_tag("Search", class: 'success button expanded large') %>
    </div>
  <% end %>
</div>