/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background: #eee;
}

h3 {
  color: #777;
}

input.large {
  font-size: 1.25rem !important;
  height: 3em;
}

.content-selector-reference {
  margin-top: 5em;
}

.top-bar {
	background: white;
	margin-bottom: 130px;
}

.top-bar ul {
	background: white;
}

/* Variables */
/* Small Navigation */
.logo-small {
  float: right; }

.title-bar {
  padding: 0 .5rem; }

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px; }

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
  .logo-wrapper {
    position: relative; }
    .logo-wrapper .logo {
      width: 300px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: -59px; }

  .top-bar-right {
    width: 50%;
    padding-left: 86px; }
    .top-bar-right ul {
      float: left; }

  .top-bar-left {
    width: 50%;
    padding-right: 86px; }
    .top-bar-left ul {
      float: right; } }

.container_highchart {
  margin-top: 2em;
}

.loading {
  text-align: right;
}

.loading span {
  margin:auto; 
  background: #fff198; 
  color:#222; 
  padding:3px 10px; 
  border-radius: 5px; 
  width: 100px; 
  text-align:center; 
}
